<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="FitnessApp" value="https://nuget.pkg.github.com/voldovgan2/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <FitnessApp>
      <add key="Username" value="voldovgan2" />
      <add key="ClearTextPassword" value="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" />
    </FitnessApp>
  </packageSourceCredentials>
</configuration>